body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/music kit bg.jpeg');
  background-size: cover;
  background-position: center;
  filter: blur(3px); 
  z-index: -1; 
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 15px 30px #fbda99;
}

.btn:active {
  transform: scale(0.9);
  box-shadow: 0px 5px 10px #fbda99;
}
